/bin
jeni.log
ckyTester.log
pjeni.log
/jeni.log.1
/jeni.log.2
/jeni.log.3
/options.properties
/config.properties
.pydevproject
resources/airbus/input/MLData.arff
resources/airbus/input/trainedMLP.model
