<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
     <extension 
     	point="org.eclipse.ui.editors">
      <editor
            name="Syntax Coloring Editor"
            icon="icons/icon16.gif"
            extensions="jeni"
            contributorClass="cbg.editor.ColoringEditorContribution"
            class="cbg.editor.ColoringEditor"
            id="cbg.editor.ColoringEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Coloring Editor"
            class="cbg.editor.prefs.ColoringPreferencePage"
            id="cbg.editor.prefs.ColoringPreferencePage">
      </page>
      <page
            name="Colors"
            category="cbg.editor.prefs.ColoringPreferencePage"
            class="cbg.editor.prefs.ColorsPreferencePage"
            id="cbg.editor.prefs.ColorsPreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="cbg.editor.prefs.PreferenceInitializer"/>
   </extension>

</plugin>
