<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<!-- change the threshold to change globally, 'off' to disable -->
<log4j:configuration threshold="debug" xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out"/>
		<param name="Threshold" value="info"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p %c{1} - %m%n"/>
		</layout>
	</appender>

	<appender name="file" class="org.apache.log4j.FileAppender">
		<param name="File" value="jeni.log"/>
		<param name="Append" value="false"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p %c{1} - %m%n"/>
		</layout>
	</appender>

	<appender name="CKYParseTesterLogFile" class="org.apache.log4j.FileAppender">
		<param name="File" value="ckyTester.log"/>
		<param name="Append" value="false"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p %c{1} - %m%n"/>
		</layout>
	</appender>
	
	<appender name="ParserLogFile" class="org.apache.log4j.FileAppender">
		<param name="File" value="pjeni.log"/>
		<param name="Append" value="false"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p %c{1} - %m%n"/>
		</layout>
	</appender>

	<logger name="synalp.generation.morphology">
		<level value="info"/>
	</logger>

	<logger name="synalp.generation.jeni">
		<level value="trace"/>
	</logger>

	<logger name="synalp.generation.jeni.selection">
		<level value="trace"/>
	</logger>

	<logger name="synalp.generation.jeni.selection.families">
		<level value="debug"/>
	</logger>
	
	<logger name="synalp.generation.jeni.generation.probabilistic">
		<level value="info"/>
	</logger>

	<logger name="synalp.generation.configuration.GeneratorConfigurationReader">
		<level value="info"/>
	</logger>
	
	<logger name="synalp.parsing.combinations.CKYChartCombinationsTester" additivity="false">
		<level value="info"/>
		<appender-ref ref="CKYParseTesterLogFile"/>
	</logger>
	
	<logger name="synalp.parsing.ParserMain" additivity="false">
		<level value="info"/>
		<appender-ref ref="ParserLogFile"/>
	</logger>

	<root>
		<priority value="info"/>
		<appender-ref ref="file"/>
	</root>

</log4j:configuration>